include README.rst
include observer_frontend/static/css/*
include observer_frontend/static/fonts/*
include observer_frontend/static/img/*
include observer_frontend/static/js/*
include observer_frontend/templates/*.html
prune observer_frontend/user_configs/*.json