attrs==17.4.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
git2json==0.2.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pycparser==2.18
pygame==1.9.3
pytest==3.5.0
pytz==2018.3
PyYAML==5.4
requests==2.18.4
simplejson==3.13.2
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
