{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Registrations</title>
{% endblock %}
{% block content %}
<style>
tr.strikeout td.strikable {
    position: relative;
    text-decoration:line-through;
}
</style>
<div id="00">
{% for service, registrations in projects.items()  %}
<label>Registrations at {{ service }}</label><br><br>
<table class="table table-hover">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Projectname</th>
<th scope="col">URL</th>
<th scope="col">Eventtype</th>
</tr>
</thead>
<tbody>
<tr>
{% for projectname, values in registrations.items() %}
    {% for url, entries in values.items() %}
        {% for event, id in entries.items() %}
            <tr>
                <td class="strikable">{{ id }}</td>
                <td class="strikable">{{ projectname }}</td>
                <td class="strikable">{{ url }}</td>
                <td class="strikable">{{ event }}</td>
                <td><button type="button" name="strikeoutbtn" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
</tr>
</tbody>
</table>
<br>
{% endfor %}
</div>
<button type="button" id="addbtn" onclick="duplicate()" class="btn btn-primary pull-right">Add another project</button><br><br>
<button type="button" id="save-btn" class="btn btn-success">Save changes</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/static/js/autocomplete.js"></script>
<script src="/static/js/reg_form_functions.js"></script>
<script src="/static/js/hello_bye.js"></script>
{% endblock %}