{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Registrations</title>
{% endblock %}
{% block content %}
{% for service, registrations in projects.items()  %}
<label>Registrations at {{ service }}</label><br><br>
<table class="table table-hover">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Projectname</th>
<th scope="col">URL</th>
<th scope="col">Eventtype</th>
</tr>
</thead>
<tbody>
<tr>
{% for projectname, values in registrations.items() %}
    {% for url, entries in values.items() %}
        {% for event, id in entries.items() %}
            <tr>
                <td>{{ id }}</td>
                <td class="editable">{{ projectname }}</td>
                <td class="editable">{{ url }}</td>
                <td class="editable">{{ event }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
</tr>
</tbody>
</table>
<br>
{% endfor %}
<button type="button" id="active-btn" class="btn btn-success">Save changes</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/static/js/mindmup_editabletable.js"></script>
<script>
$('table').editableTableWidget();
</script>
{% endblock %}