{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Registrations</title>
{% endblock %}
{% block content %}
{% for service, projects in registrations.items()  %}
<label>Registrations at {{ service }}</label><br><br>
<table class="table table-hover">
<thead>
<tr>
<th scope="col">Projectname</th>
<th scope="col">URL</th>
<th scope="col">Eventtype</th>
<th scope="col">Status</th>
</tr>
</thead>
<tbody>
<tr>
{% for projectname, values in projects.items() %}
    {% set url = values['projectUrl'] %}
    {% set events = values['events'] %}
    {% for event in events %}
        <tr>
            <td name="projectname">{{ projectname }}</td>
            <td name="url">{{ url }}</td>
            <td name="event">{{ event }}</td>
            <td class="none">
            {% if (projectname, url, event) in session['registrations'] %}
                {% set btn_class = "btn-success unregister" %}
                {% set glyph_class = "glyphicon-ok" %}
            {% else %}
                {% set btn_class = "btn-warning register" %}
                {% set glyph_class = "glyphicon-minus" %}
            {% endif %}
            <button type="button" class="btn {{ btn_class }}"><span class="glyphicon {{ glyph_class }}" aria-hidden="true"></span></button>
            </td>
        </tr>
    {% endfor %}
{% endfor %}
</tr>
</tbody>
</table>
<br>
{% endfor %}
<hr>
<button type="button" id="active-btn" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
<button type="button" id="inactive-btn" class="btn btn-primary" style="display:none"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
<br>
<span class="label label-danger" id="stoplabel">Inactive</span>
<span class="label label-success" id="runlabel" aria-hidden="true" style="display:none">Active</span>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/manageRegistrations.js"></script>
<script>$('#inactive-btn').hide()</script>
{% endblock %}