{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Registrations</title>
{% endblock %}
{% block content %}
{% for service, projects in registrations.items()  %}
<label>Registrations at {{ service }}</label><br><br>
<table class="table table-hover">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Projectname</th>
<th scope="col">URL</th>
<th scope="col">Eventtype</th>
</tr>
</thead>
<tbody>
<tr>
{% for projectname, values in projects.items() %}
    {% set outerloop = loop %}
    {% set url = values['projectUrl'] %}
    {% set events = values['events'] %}
    {% for event in events %}
        <tr>
            <td>{{ outerloop.index + loop.index - 1 }}</td>
            <td>{{ projectname }}</td>
            <td>{{ url }}</td>
            <td>{{ event }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</tr>
</tbody>
</table>
<br>
{% endfor %}
<hr>
<button type="button" id="reg-btn" class="btn btn-warning pull-right" onclick="regfunc('{{ username }}')">Register all projects</button>
<button type="button" id="active-btn" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
<button type="button" id="inactive-btn" class="btn btn-primary" style="display:none"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
<br>
<span class="label label-danger" id="stoplabel">Stopped</span>
<span class="label label-success" id="runlabel" aria-hidden="true" style="display:none">Running</span>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/hello_bye.js"></script>
<script>$('#inactive-btn').hide()</script>
{% endblock %}