<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
{% block title %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<style>
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
<link rel="icon" href="/static/img/favicon.ico">
</head>

<body>
<!-- CONTAINERS -->
<!-- container puts padding around itself while container-fluid fills the whole screen. -->
<div class="container">
<!-- page-header adds space aroundtext and enlarges it. It also adds an underline at the end -->
<div class="container">
<div class="page-header">
<div class="row">
<div class="col-lg-4 col-md-3 hidden-xs hidden-sm">
<img src="/static/img/iteratec.png" class="responsive-img" style="max-width:100%" alt="iteratec">
</div>
<div class="col-lg-8 col-md-9">
<center>
<h1>scab-observer-hive</h1>
</center>
</div>
</div>
</div>
</div>

<!-- Collapsible Navigation Bar -->
<!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<!-- Button that toggles the navbar on and off on small screens -->
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<!-- Hides information from screen readers -->
<span class="sr-only"></span>
<!-- Draws 3 bars in navbar button when in small mode -->
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{% if current_user.is_authenticated %}
<ul class="nav navbar-nav">
<li><a href="/profile/">Registrations</a></li>
<li><a href="/profile/edit/">Edit</a></li>
<li><a href="/change-credentials/">Change Credentials</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown">{{ current_user.id }}
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/logout/">Logout</a></li>
</ul>
</li>
</ul>
{% else %}
<ul class="nav navbar-nav">
<li><a href="/login/">Login</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="/register/">Sign up</a></li>
</ul>
{% endif %}
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<!-- jumbotron enlarges fonts and puts everything in a gray box with rounded
corners. If jumbotron is outside a container it fills the total width. You
can change the styles by placing the changes after the Bootstrap CDN link -->
<div class="jumbotron">
{% block content %}
{% endblock %}
</div>
</div>

<div class="container">
<footer>
<div class="container-fluid">
<p><a href="https://www.iteratec.de" target="blank">&copy; iteratec GmbH</a></p>
</div>
</footer>
</div>
<!-- include jQuery library and Bootstrap Javascript files -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--Switch navbar active state -->
<script>$(document).ready(function() {$('li.active').removeClass('active');$('a[href="' + location.pathname + '"]').closest('li').addClass('active'); });</script>
</body>
</html>