{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Change Credentials</title>
{% endblock %}
{% block content %}
<h3>You can change your Username here.</h3>
<br>
<form method="POST" id="changePassword">{{ form.csrf_token }}
    <label for="username">Username</label>
    <div class="form-group">
        {{ form.username(class_ ='form-control input-lg', id='username', size=50) }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ error|e }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <hr>
    <h3>You can change your Password here.</h3>
    <br>
    <label for="current">Password</label>
    <div class="form-group">
        {{ form.currentPassword(class_ ='form-control input-lg', type="password", id='current', size=50,
        placeholder='Enter current Password') }}
        {% if form.currentPassword.errors %}
        {% for error in form.currentPassword.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ error|e }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <label for="new1">New Password</label>
    <div class="form-group">
        {{ form.newPassword1(class_ ='form-control input-lg', type="password", id='new1', size=50, placeholder='Enter a new Password') }}
        {% if form.newPassword1.errors %}
        {% for error in form.newPassword1.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ error|e }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <label for="new2">Verify New Password</label>
    <div class="form-group">
        {{ form.newPassword2(class_ ='form-control input-lg', type="password", id='new2', size=50, placeholder='Enter your new Password again') }}
        {% if form.newPassword2.errors %}
        {% for error in form.newPassword2.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ error|e }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a class="btn btn-large btn-danger pull-right" data-toggle="confirmation"
       data-btn-ok-label="Confirm" data-btn-ok-class="btn-success"
       data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-danger"
       data-title="This decision is final!" data-content="Are you sure about deleting this account?">
        Delete Account
    </a>
</form>
<script>
document.getElementById("username").setAttribute("value", "{{ username }}");

</script>
<script src="/static/js/jquery.js"></script>
<script>
$('[data-toggle=confirmation]').on('click', function(){
    if (confirm("Are you sure you want to delete this account?")) {
        $.post("/profile/delete/", function(){window.location.replace("/")});
    }
});

</script>
{% endblock %}