{% extends 'base.html' %}
{% block content %}
<div class="container">
<form method="POST">
<div class="form-group">
<p>You can now change your password.</p>
<hr>
<div class="form-group">
<label for="currentPassword">Current Password</label>
<input type="text" class="form-control" name="currentPassword" id="currentPassword" aria-describedby="usernameHelp" placeholder="Enter current Password">
<small id="usernameHelp" class="form-text text-muted">Choose a name under which you like to be remembered.</small>
</div>
<div class="form-group">
<label for="newPassword1">New Password</label>
<input type="password" class="form-control" name="newPassword1" id="newPassword1" placeholder="Enter new Password">
</div>
<div class="form-group">
<label for="newPassword2">Repeat New Password</label>
<input type="password" class="form-control" name="newPassword2" id="newPassword2" placeholder="Enter new Password again">
</div>
<div class="form-check">
<input type="checkbox" class="form-check-input" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Remember me</label>
</div><br>
<button type="submit" class="btn btn-primary">Change password</button>
</div>
</form>
</div>
{% endblock %}