{% extends 'base.html' %}
{% block title %}
<title>Observerhive: Login</title>
{% endblock %}
{% block content %}
<h3>Login to your account.</h3>
<br>
<form method="POST" id="login">{{ form.csrf_token }}
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
{{ form.username(class_ ='form-control input-lg', size=50, placeholder='Username') }}
</div>
{% if form.username.errors %}
<ul class=list-group">
    {% for error in form.username.errors %}
        <li class="list-group-item list-group-item-danger">{{ error|e }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
{{ form.password(class_ = 'form-control input-lg', size=50, placeholder='Password') }}
</div>
{% if form.password.errors %}
<ul class=list-group">
    {% for error in form.password.errors %}
        <li class="list-group-item list-group-item-danger">{{ error|e }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}